{% extends 'base.html '%}
{% block title%}Requester dashboard {% endblock %}
{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="-my-8 divide-y-2 divide-gray-100">
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="mb-4 font-semibold title-font text-gray-700">Olanrewaju AbdulKabeer</span>
          <p class="mb-4 leading-relaxed"> <span class="text-gray-900">Requester : </span> Olanrewaju AbdulKabeer </p>
          <p class="mb-4 leading-relaxed"> <span class="text-gray-900">Department : </span> Technology </p>
          <p class="mb-4 leading-relaxed"> <span class="text-gray-900">Date : </span> 12 Jun 2019 </p>
          
        </div>
        <div class="md:flex-grow">
          <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Bitters hashtag waistcoat fashion axe chia unicorn</h2>
          <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">90,739,393</h2>
          <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p>
        </div>
        
      </div>
      <div class="flex justify-center">
          <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Approve</button>
          <button class="ml-4 inline-flex text-white bg-red-400 border-0 py-2 px-6 focus:outline-none hover:bg-red-500 rounded text-lg">Reject</button>
        </div>
    </div>
  </div>
</section>
{% endblock%}

{% block script %}
    <script>
       
    </script>
{% endblock%}
