{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %} 
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <title>{% block title %}HOME{% endblock %}</title>
</head>
<body>
    {% include "header.html" %}
    {% block content %}<h1>BASE HTML </h1>{% endblock%}
    {% include "footer.html" %}
    {% block script %}{% endblock%}
</body>
</html>