{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %} 
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <title>{% block title %}HOME{% endblock %}</title>
</head>
<body class=''>
    {% include "header.html" %}
    <div class='container mx-auto'>
    {% if messages %}
        {% for message in messages %}
          {% if message.tags == "success" %}
            <div class="mb-4 bg-green-200 py-3 px-6 text-base text-green-700"  >
            {{ message }} 
            </div>
          {% elif message.tags == "error" %}
            <div class="mb-4 bg-red-100 py-3 px-6 text-base text-red-700"  >
            {{ message }} 
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    
    {% block content %}<h1>BASE HTML </h1>{% endblock%}
    {% include "footer.html" %}
    {% block script %}{% endblock%}
</body>
</html>